/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

//Font Aweasome
@import "font-awesome-sprockets";
@import "font-awesome";



$base-color: #990000;
$light-base: lighten($base-color, 10%);
$dark-base: darken($base-color, 10%);
$black: #1A1A1A;
$off-white: #f6f9fa;
$grey: #999999;

@import "bootstrap-variables";

.red {
  color: $brand-danger;
  &:hover {
    color: darken($brand-danger, 13.5%);
  }
}

.green {
  color: $brand-success;
  &:hover {
    color: darkenen($brand-success, 13.5%);
  }
}

.yellow {
  color: $brand-warning;
  &:hover {
    color: darken($brand-warning, 13.5%);
  }
}

.white {
  color: #ffffff;
}

body {
	padding: 60px 0px 0px 0px; 
	margin: 0px;
}

footer {
  margin: 15px 15px 0px 15px;
}

.center-div {
  padding: 0px;
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
}



/*Navbar*/

.navbar {
  .nav-img {
    height: 50px;
    width: auto;
    padding: 5px;
  }

  .navbar-brand {
    margin: 0;
    padding: 0;
  }

  .nav {
    .active{
      background-color: $gray-lighter; 
      &:hover{
        background-color: #ffffff;
      }
    }

    .navbar-link{

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

/*end nav*/

/*carousel*/


.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
  height: calc(100vh - 60px);
  background-size: cover;
  background-position: center center;
}

/* HACK for vh on iOS ################################ https://gist.github.com/pburtchaell/e702f441ba9b3f76f587*/
/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
    height: 1024px;
  }
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
    height: 768px;
  }
}

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40 / 71) {
  .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7 {
    height: 500px;
  }
}

/*end hack */

.slide1 {
  background-image: image-url("Carousel/1.jpg");
}

.slide2 {
  background-image: image-url("Carousel/2.jpg");
}

.slide3 {
  background-image: image-url("Carousel/3.jpg");
}

.slide4 {
  background-image: image-url("Carousel/4.jpg");
}

.slide5 {
  background-image: image-url("Carousel/5.jpg");
}

.slide6 {
  background-image: image-url("Carousel/6.jpg");
}

.slide7 {
  background-image: image-url("Carousel/7.gif");
}

/* Carousel Fade Effect */

.carousel.carousel-fade {
  .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
  }
  .active {
    &.item {
      opacity: 1;
    }
    &.left, &.right {
      left: 0;
      z-index: 2;
      opacity: 0;
      filter: alpha(opacity = 0);
    }
  }
}

.carousel-overlay {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0%;
  right: 0;
  left: 0;
  h1 {
    color: $base-color;
    font-size: 40px;
  }
  h3 {
    font-weight: 600;
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .carousel-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 12%;
    right: 0;
    left: 0;
    h1 {
      color: $base-color;
      font-size: 70px;
    }
    h3 {
      font-weight: 600;
      font-size: 50px;
    }
  }
}

.fa-color {
  color: $base-color;
  &:hover {
    color: $dark-base;
  }
}


.round-image-50 {
  margin: 5px;
  padding: 0px;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}



.icons {
	height: 140px;
	width: auto;
}