
	<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    <div class="carousel-caption">
      <h1>Coming Soon!</h1>
      <p class="lead">Leave us your email address & we'll holla when it's done.</p><br>



        <div id="mc_embed_signup">
          <form action="http://originalsinevents.us2.list-manage.com/subscribe/post?u=053a6b1198c7e9afc2de3d6ea&amp;id=976eec6dbe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <fieldset>
           <input class="input-xlarge" type="email" placeholder="Hop on board...">
              <div class"form-inline">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </fieldset>
          </form>
        </div>
       
          </div>
    <div class="item active">
          <%= image_tag("Carousel/1.jpg") %>


        </div>
        <div class="item">
          <%= image_tag("Carousel/2.jpg") %>

        </div>
        <div class="item">
          <%= image_tag("Carousel/3.jpg") %>

        </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->




    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing" id="links">

      <!-- Three columns of text below the carousel -->
      <div class="row centered">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <a href="share/"><i class="fa fa-archive fa-5x"></i></a>
          <h2>File Server</h2>
          <p>Browser the Server Files in your browser.</p>
          <p><a class="btn btn-danger" href="share/" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">
          <a href="http://10.1.10.103/photo/"><i class="fa fa-photo fa-5x"></i></a>
          <h2>Photo Album</h2>
          <p>It's just a photo album.</p>
          <p><a class="btn btn-danger" href="http://10.1.10.103/photo/" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

          <div class="col-sm-6 col-md-4 col-lg-4">
              <a href="support/"><i class="fa fa-ticket fa-5x"></i></a>
              <h2>Ticketing System</h2>
              <p>A ticketing system for when shit breaks. It isn't done yet.</p>
              <p><a class="btn btn-danger" href="support/" role="button">Go to App &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">
          <a href="http://10.1.10.5:5050"><img src="Pictures/icons/couch_potato_square.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
          <h2>Couch Potato</h2>
          <p>Download movies automatically, easily and in the best quality as soon as they are available.</p>
          <p><a class="btn btn-danger" href="http://10.1.10.5:5050" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-6 col-md-4 col-lg-4">

          <a href="http://10.1.10.5:8081"><img src="Pictures/icons/sickbeard_logo.png" alt="Generic placeholder image" style="width: auto; height: 120px;"></a>
            <br></br>
          <h2>Sick Beard</h2>
          <p>Sick Beard is a PVR for newsgroup users (with limited torrent support). It watches for new episodes of your favorite shows and when they are posted it downloads them, sorts and renames them, and optionally generates metadata for them.</p>
          <p><a class="btn btn-danger" href="http://10.1.10.5:8081" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


        <div class="col-sm-6 col-md-4 col-lg-4">
            <br></br>
          <a href="http://10.1.10.5:32400/web/index.html"><img src="Pictures/icons/plex-logo-big.png" alt="Generic placeholder image" style="width: 200px; height: auto;"></a>
            <br></br>
          <h2>Plex</h2>
          <p>Place to access all of the media on the server.</p>
          <p><a class="btn btn-danger" href="http://10.1.10.5:32400/web/index.html" role="button">Go to App &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!--row-->